export const mail_gun = {
  api_key: '',
  default_domain:'',
  api_base_url:''
};
export const twitterConf = {
  consumer_key: '',
  consumer_secret: '',
  access_token_key: '',
  access_token_secret: ''
}
